.lead {
    display: flex;
    flex-direction: column;
    max-width: 984px;
    margin-top: 48px;
}

@media (min-width: 1279px) {
    .lead {
        margin-left: 148px;
        margin-right: 148px;
        margin-top: 56px;
    }
}

@media (min-width: 1023px) and (max-width: 1278px) {
    .lead {
        margin-left: 48px;
        margin-right: 48px;
    }
}

@media (min-width: 767px) and (max-width: 1022px) {
    .lead {
        margin-left: 0;
        margin-right: 0;
    }
}

@media (max-width: 766px) {
    .lead {
        margin-left: 0;
        margin-right: 0;
    }
}