.place__website {
    margin: 0;
    padding: 0;
    margin-bottom: 48px;
    margin-top: 110px;
}

@media (min-width: 767px) and (max-width: 1022px) {
    .place__website {
        margin-top: 0;
    }
}

@media (max-width: 766px) {
    .place__website {
        margin-bottom: 32px;
        margin-left: 15px;
        margin-top: 0;
    }
}