.intro__title {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    color: #FFFFFF;
    max-width: 690px;
    margin-bottom: 40px;
}

@media (min-width: 767px) and (max-width: 1022px) {
    .intro__title {
        max-width: 720px;
    }
}

@media (max-width: 766px) {
    .intro__title {
        font-size: 32px;
        line-height: 35px;
    }
}